.DS_Store
__pycache__
archives
models/*
!models/jizbirds*
images
logs
edgetpu_compiler
ultralytics/*
!ultralytics/settings.yml
venv
vars*.local
*args*.local
mediamtx
detected.sqlite
config/remote_api_credentials
